*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #831eee , #73e727);
    padding: 10px;

}
.todo-app{
    margin-top: 50px;
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.todo-app h1{
color: #123231;
display: flex;
align-items: center;
margin-left: 20px;
}
.todo-app h1 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(247, 197, 247);
    border-radius: 30px;
    padding-left: 20px; 
     margin-bottom: 25px;

}
#inputbox{
    display: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
#btn{
   border: 1px solid black;
    background: #ff5945;
    padding:16px 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;

}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 20px;
    left: 8px;

}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(images/checked.png);
}

#btnn{
    border: 3px solid black;
     background: #ff5945;
     padding:16px 50px;
     color: #fff;
     font-size: 16px;
     cursor: pointer;
     border-radius: 40px;
}

ul li span {
    position: absolute;
    right: 0;
    font-size: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #dddada;
}
